@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 20rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4.5rem;
  color: #253840; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 2.5rem;
    animation: moveInBottom 2s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInBottom 3s ease-out;
    padding-bottom: 1rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  letter-spacing: .2rem;
  padding-top: 15rem;
  color: #253840; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-padding-left-small {
  padding-left: 1.5rem; }

.u-padding-left-medium {
  padding-left: 4rem; }

.u-padding-left-big {
  padding-left: 8rem; }

.u-padding-top-small {
  margin-top: 1.5rem; }

.u-padding-top-medium {
  margin-top: 3rem; }

.u-padding-top-big {
  padding-top: 6.3rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  transition: all .2s;
  border-radius: .3rem;
  position: relative;
  font-size: 1.8rem; }

.btn--enter {
  background-color: #70878C;
  color: #fff; }
  .btn--enter:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--enter:hover::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0; }
  .btn--enter:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--enter::after {
    background-color: #70878C; }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: .3rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .6s ease-out .75s;
  animation-fill-mode: backwards; }

.btn__popup {
  background-color: #cbd1d6;
  display: inline-block;
  color: #fff;
  font-size: 1.7rem;
  position: relative;
  text-transform: uppercase;
  padding: .5rem 1.2rem;
  border-radius: .4rem;
  text-decoration: none;
  transition: all .4s; }
  .btn__popup:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn__popup:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: .3rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .4s ease-out; }
  .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15); }
  .card__cta {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__icon-one {
    fill: #FFC76E;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 30%); }
  .card__icon-two {
    fill: #8B63FF;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__icon-three {
    fill: #E88C64;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__icon-four {
    fill: #D764E8;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 30%); }
  .card__icon-five {
    fill: #FF7B89;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__icon-six {
    fill: #70878C;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__heading-one {
    color: #FFC76E;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 2.5rem;
    font-weight: 750rem;
    margin-top: 2.8rem; }
  .card__heading-two {
    color: #8B63FF;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 3.5rem; }
  .card__heading-three {
    color: #E88C64;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 3rem;
    padding-bottom: 1rem; }
  .card__heading-four {
    color: #D764E8;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 2.5rem;
    padding-bottom: 1rem; }
  .card__heading-five {
    color: #FF7B89;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 2.5rem;
    padding-bottom: 1rem; }
  .card__heading-six {
    color: #70878C;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 2.5rem;
    padding-bottom: 1rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #f2f2f3; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-selector {
  padding: 25rem 0;
  background-color: #f2f2f3; }

.section-math {
  padding: 25rem 0;
  background-color: #f2f2f3; }
