@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 20rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4.5rem;
  color: #253840; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    margin-bottom: 2.5rem;
    animation: moveInBottom 2s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInBottom 3s ease-out;
    padding-bottom: 1rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  letter-spacing: .2rem;
  padding-top: 15rem;
  color: #253840; }

.heading-tertiary {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  letter-spacing: .1rem;
  padding: 2rem 5rem;
  color: #253840; }

.heading-quatenary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 2rem 0 .6rem;
  letter-spacing: .2rem;
  display: block;
  letter-spacing: .1rem;
  color: #253840; }
  .heading-quatenary--combresult {
    display: block;
    padding-top: 4.5rem;
    font-size: 2rem;
    color: #253840;
    font-weight: 800rem; }
  .heading-quatenary--sub {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: .5rem;
    letter-spacing: .2rem;
    color: #253840;
    display: block; }

.p {
  position: absolute; }
  .p__result {
    display: inline-block;
    font-size: 2rem;
    padding-left: 5rem; }
    .p__result--truth {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 800;
      color: #253840;
      text-transform: uppercase;
      padding-left: 10rem; }

.textarea__group:not(:last-child) {
  margin-bottom: 1rem; }

.textarea__input {
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 2px;
  background-color: rgba(242, 242, 243, 0.5);
  border-bottom: 3px solid transparent;
  width: 50%; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: right !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-padding-left-small {
  padding-left: 1.5rem !important; }

.u-padding-left-medium {
  padding-left: 4rem !important; }

.u-padding-left-big {
  padding-left: 8rem !important; }

.u-padding-top-tiny {
  margin-top: .5rem !important; }

.u-padding-top-small {
  margin-top: 1.5rem !important; }

.u-padding-top-medium {
  margin-top: 3rem !important; }

.u-padding-top-big {
  padding-top: 6.3rem !important; }

.u-padding-top-large {
  padding-top: 9rem !important; }

.u-padding-left-medium {
  padding-left: 4rem !important; }

.u-display-inline-block {
  display: inline-block !important; }

.u-padding {
  padding: 1rem 11rem 0 1rem !important; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  transition: all .2s;
  border-radius: .3rem;
  position: relative;
  font-size: 1.5rem; }

.btn--enter {
  background-color: #70878C;
  color: #fff; }
  .btn--enter:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--enter:hover::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0; }
  .btn--enter:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--enter::after {
    background-color: #70878C; }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: .3rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .6s ease-out .75s;
  animation-fill-mode: backwards; }

.btn__popup:link, .btn__popup:visited {
  background-color: #cbd1d6;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: .2rem;
  position: relative;
  text-transform: uppercase;
  padding: .8rem 1.8rem .8rem;
  border-radius: .4rem;
  font-weight: 400rem;
  text-decoration: none;
  transition: all .4s; }

.btn__popup:hover {
  transform: translateY(-2px);
  color: #fff;
  background-color: #cbd1d6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn__popup:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn__calculate {
  background-color: #cbd1d6;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  position: relative;
  text-transform: uppercase;
  padding: .3rem .8rem .3rem;
  border-radius: .3rem;
  font-weight: 400rem;
  cursor: pointer; }
  .btn__calculate--print {
    background-color: #cbd1d6;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 1.3rem;
    border-radius: .3rem;
    text-align: center;
    display: inline-block; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: .3rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .4s ease-out; }
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15); }
  .card__cta {
    position: absolute;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__icon-one {
    fill: #FFC76E;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 30%); }
  .card__icon-two {
    fill: #8B63FF;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__icon-three {
    fill: #E88C64;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__icon-four {
    fill: #D764E8;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 30%); }
  .card__icon-five {
    fill: #FF7B89;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__icon-six {
    fill: #70878C;
    height: 10rem;
    width: 10rem;
    transform: translate(120%, 25%); }
  .card__heading-one {
    color: #FFC76E;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 2.5rem;
    font-weight: 750rem;
    margin-top: 2.8rem; }
  .card__heading-two {
    color: #8B63FF;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 3.5rem; }
  .card__heading-three {
    color: #E88C64;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 3rem;
    padding-bottom: 1rem; }
  .card__heading-four {
    color: #D764E8;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 2.5rem;
    padding-bottom: 1rem; }
  .card__heading-five {
    color: #FF7B89;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 2.5rem;
    padding-bottom: 1rem; }
  .card__heading-six {
    color: #70878C;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 750rem;
    margin-top: 2.5rem;
    padding-bottom: 1.5rem; }

.form__group:not(:last-child) {
  margin-bottom: .5rem; }

.form__input {
  font-size: 1.3rem;
  font-family: inherit;
  padding: .5rem 1rem;
  border-radius: 1px;
  background-color: rgba(242, 242, 243, 0.5);
  border-bottom: 2px solid transparent;
  width: 45%; }
  .form__input--truth {
    font-size: 1.3rem;
    font-family: inherit;
    padding: .5rem 1rem;
    border-radius: 1px;
    background-color: rgba(242, 242, 243, 0.5);
    border-bottom: 2px solid transparent;
    width: 20%; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #70878C; }

.form__radio-group {
  width: 50%;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 1.5rem;
  position: relative; }

.form__calculate {
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
  text-transform: uppercase;
  border-radius: .3rem;
  font-weight: 400rem; }
  .form__calculate--print {
    background-color: #cbd1d6;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: .6rem .3rem .7rem;
    border-radius: .5rem; }

.form__select {
  background-color: #cbd1d6;
  border-style: none;
  width: 40%;
  border-radius: .5rem;
  text-decoration: none;
  color: #253840;
  font-size: 1.5;
  padding: .6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.popup,
.popuptwo,
.popupfour,
.popupfive,
.popupsix {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content,
  .popuptwo__content,
  .popupfour__content,
  .popupfive__content,
  .popupsix__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popup__left,
  .popuptwo__left,
  .popupfour__left,
  .popupfive__left,
  .popupsix__left {
    width: 33.3333333%;
    display: table-cell; }
  .popup__right,
  .popuptwo__right,
  .popupfour__right,
  .popupfive__right,
  .popupsix__right {
    width: 66.6666666%;
    display: table-cell;
    -moz-column-count: 2;
    column-count: 2; }
  .popup__text,
  .popuptwo__text,
  .popupfour__text,
  .popupfive__text,
  .popupsix__text {
    display: block;
    font-size: 2rem;
    padding: 5rem 5rem; }
  .popup:target,
  .popuptwo:target,
  .popupfour:target,
  .popupfive:target,
  .popupsix:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content,
  .popuptwo:target .popup__content,
  .popupfour:target .popup__content,
  .popupfive:target .popup__content,
  .popupsix:target .popup__content, .popup:target
  .popuptwo__content,
  .popuptwo:target
  .popuptwo__content,
  .popupfour:target
  .popuptwo__content,
  .popupfive:target
  .popuptwo__content,
  .popupsix:target
  .popuptwo__content, .popup:target
  .popupfour__content,
  .popuptwo:target
  .popupfour__content,
  .popupfour:target
  .popupfour__content,
  .popupfive:target
  .popupfour__content,
  .popupsix:target
  .popupfour__content, .popup:target
  .popupfive__content,
  .popuptwo:target
  .popupfive__content,
  .popupfour:target
  .popupfive__content,
  .popupfive:target
  .popupfive__content,
  .popupsix:target
  .popupfive__content, .popup:target
  .popupsix__content,
  .popuptwo:target
  .popupsix__content,
  .popupfour:target
  .popupsix__content,
  .popupfive:target
  .popupsix__content,
  .popupsix:target
  .popupsix__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited,
  .popuptwo__close:link,
  .popuptwo__close:visited,
  .popupfour__close:link,
  .popupfour__close:visited,
  .popupfive__close:link,
  .popupfive__close:visited,
  .popupsix__close:link,
  .popupsix__close:visited {
    color: #70878C;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 0; }
  .popup__close:hover,
  .popuptwo__close:hover,
  .popupfour__close:hover,
  .popupfive__close:hover,
  .popupsix__close:hover {
    color: #253840; }

.popupthree {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popupthree__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popupthree__left {
    width: 20.0000000%;
    float: left; }
  .popupthree__right {
    width: 80.0000000%;
    float: right;
    text-align: center;
    display: inline-block;
    padding-top: 10rem 5rem 0 0; }
  .popupthree__text {
    font-size: 1.6rem;
    padding: 2rem .5rem 0 5rem; }
  .popupthree:target {
    opacity: 1;
    visibility: visible; }
  .popupthree:target .popupthree__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupthree__close:link, .popupthree__close:visited {
    color: #70878C;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 0; }
  .popupthree__close:hover {
    color: #253840; }

.table {
  padding-top: 10rem; }
  .table__output {
    display: table;
    table-layout: fixed;
    column-count: 3;
    font-size: 1.2rem;
    color: #253840; }
    .table__output--bin {
      display: table-cell;
      column-count: 3;
      font-size: 1.2rem;
      color: #253840;
      padding-right: 10rem; }
    .table__output--oct {
      display: table-cell;
      column-count: 3;
      font-size: 1.2rem;
      color: #253840;
      padding-right: 1rem; }
    .table__output--hex {
      display: table-cell;
      column-count: 3;
      font-size: 1.2rem;
      color: #253840;
      padding-right: 1rem; }
    .table__output--dec {
      display: table-cell;
      column-count: 3;
      font-size: 1.2rem;
      color: #253840;
      padding-right: 1rem; }
  .table__truth {
    display: block;
    display: table-cell;
    column-count: 3;
    font-size: 2rem;
    color: #253840; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #f2f2f3;
  backface-visibility: hidden; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-selector {
  padding: 25rem 0;
  background-color: #f2f2f3; }

.section-math {
  padding: 40rem 0;
  background-color: #f2f2f3; }

.footer {
  background-color: #253840;
  padding: 17rem 0; }
  .footer__copyright {
    color: #f2f2f3;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: .2rem; }
