@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  color: #949DA6;
  padding: 3rem; }

.heading-primary {
  color: #E4EBF2;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: inline-block;
    font-size: 4.5rem;
    font-size: 4.5vw;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1rem; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.7rem;
  position: inherit; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-padding-left-small {
  padding-left: 1.5rem; }

.u-padding-left-medium {
  padding-left: 4rem; }

.u-padding-left-big {
  padding-left: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  border-radius: 8rem;
  position: relative;
  font-size: 1.2rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #6D7E8C; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: #8AA6BF;
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 25rem;
      top: .5rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #8AA6BF;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.skills {
  padding: 0 0 1rem 8rem; }
  .skills__css3 {
    width: 3rem;
    height: 3rem; }
  .skills__html {
    width: 3rem;
    height: 3rem; }
  .skills__javascript {
    width: 3rem;
    height: 3rem; }
  .skills__sass {
    width: 3rem;
    height: 3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: right; }
    .row [class^="col-"]:not(:first-child) {
      margin-left: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: url("../images/forest2.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  border-radius: 2rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10vh; }

.section-projects {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0; }
