@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 20rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 8rem;
  color: #253840; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    margin-bottom: 2rem;
    animation: moveInBottom 3s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInBottom 5s ease-out;
    padding-bottom: 2.5rem; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  letter-spacing: .2rem;
  padding-top: 20rem;
  color: #253840; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-padding-left-small {
  padding-left: 1.5rem; }

.u-padding-left-medium {
  padding-left: 4rem; }

.u-padding-left-big {
  padding-left: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  transition: all .2s;
  border-radius: 7rem;
  position: relative;
  font-size: 2rem;
  color: #253840; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #70878C;
  color: #fff; }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #70878C;
  color: #fff; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  background-color: #70878C; }

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100; }

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out; }

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%; }

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10; }

.carousel-control.prev {
  left: 2%; }

.carousel-control.next {
  right: 2%; }

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa; }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block; }

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10; }

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px; }

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px; }

.carousel-bullet:hover {
  color: #aaaaaa; }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca; }

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #f2f2f3; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-selector {
  padding: 25rem 0;
  background-color: #f2f2f3; }
