@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 20rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 8rem;
  color: #253840; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 2.5rem;
    animation: moveInBottom 2s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInBottom 3s ease-out;
    padding-bottom: 2.5rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  letter-spacing: .2rem;
  padding-top: 15rem;
  color: #253840; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-padding-left-small {
  padding-left: 1.5rem; }

.u-padding-left-medium {
  padding-left: 4rem; }

.u-padding-left-big {
  padding-left: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  border-radius: .2rem;
  position: relative;
  font-size: 1.8rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--enter {
  background-color: #70878C;
  color: #fff; }
  .btn--enter::after {
    background-color: #70878C; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 34rem;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: .3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .4s ease-out; }
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card__picture {
    background-size: cover;
    height: 100%; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 550;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: absolute;
    padding-top: 12rem;
    text-align: center; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      color: #FFC76E; }
    .card__heading-span--2 {
      color: #FF7B89; }
    .card__heading-span--3 {
      color: #D764E8;
      padding-left: 4rem; }
    .card__heading-span--4 {
      color: #E88C64;
      padding-left: 5.5rem; }
    .card__heading-span--5 {
      color: #8B63FF;
      padding-left: 3.5rem; }
    .card__heading-span--6 {
      color: #253840;
      padding-left: 9rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #f2f2f3; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-selector {
  padding: 25rem 0;
  background-color: #f2f2f3; }

.section-math {
  padding: 25rem 0;
  background-color: #f2f2f3; }
