/// COLORS

$color-black: #000;
$color-white: #fff;

$color-grey: #f2f2f3;
$color-grey-middle: #cbd1d6;
$color-dark-grey: #455559;


$color-baby-blue: #C1D4D9;
$color-blue-light: #A4BABF;
$color-blue: #70878C;
$color-dark-blue: #253840;



/// CARD HEADER COLORS

$color-yellow:#FFC76E;
$color-orange: #E88C64;
$color-pink: #FF7B89;
$color-light-purple: #D764E8;
$color-purple: #8B63FF;

/// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;