/// COLORS

$color-black: #000;
$color-white: #fff;

$color-grey: #f2f2f3;
$color-dark-grey: #455559;


$color-baby-blue: #C1D4D9;
$color-blue-light: #A4BABF;
$color-blue: #70878C;
$color-dark-blue: #253840;

/// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;