.header {
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;
    background-color: $color-grey;


   &__text-box {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;


 }

}