.btn {
   &:link,
   &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all .2s;
    border-radius: .3rem;
    position: relative;
    font-size: 1.8rem;
 }

   &--enter {
   background-color: $color-blue;
   color: $color-white;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);
 
    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
  }
}

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
 }
 
    &::after {
      background-color: $color-blue;
      
     }
 }  
    &::after {
      content: "";
      display: inline-block;
      border-radius: .3rem;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
 }
    &--animated {
      animation: moveInBottom .6s ease-out .75s;
      animation-fill-mode: backwards;
 }

 &__popup  {
  background-color: $color-grey-middle;
  display: inline-block;
  color: $color-white;
  font-size: 1.7rem;
  position: relative;
  text-transform: uppercase;
  padding: .5rem 1.2rem;
  border-radius: .4rem;
  text-decoration: none;
  transition: all .4s;
  

  &:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
}

&:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba($color-black,.2); 
  }
 }
} 

 