
.btn {
   &:link,
   &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all .2s;
    border-radius: .3rem;
    position: relative;
    font-size: 1.5rem;
 }
  
   ////BUTTON FOR THE HEADER
 
   &--enter {
   background-color: $color-blue;
   color: $color-white;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);
 
    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
  }
}

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
 }
 
    &::after {
      background-color: $color-blue;
      
     }
 }  
    &::after {
      content: "";
      display: inline-block;
      border-radius: .3rem;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
 }
    &--animated {
      animation: moveInBottom .6s ease-out .75s;
      animation-fill-mode: backwards;
 }

//BUTTON FOR THE CARDS TO ACCESS POPUP WINDOW

 &__popup {
 &:link,
 &:visited {
  background-color: $color-grey-middle;
  text-decoration: none;
  display: inline-block;
  color: $color-white;
  font-size: 1.7rem;
  letter-spacing: .2rem;
  position: relative;
  text-transform: uppercase;
  padding: .8rem 1.8rem .8rem;
  border-radius: .4rem;
  font-weight: 400rem;
  text-decoration: none;
  transition: all .4s;

 }
  
  &:hover {
    transform: translateY(-2px);
    color: $color-white;
    background-color: $color-grey-middle;
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
}

&:active {
  transform: translateY(0);
  box-shadow: 0 .5rem 1rem rgba($color-black,.2); 
  }
}

//BUTTON FOR THE FORMS

&__calculate {
  background-color: $color-grey-middle;
  text-decoration: none;
  color: $color-white;
  font-size: 1.3rem;
  position: relative;
  text-transform: uppercase;
  padding: .3rem .8rem .3rem;
  border-radius: .3rem;
  font-weight: 400rem;
  text-decoration: none;
  cursor: pointer;
  } 

}