.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 32rem;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: .3rem;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
    transition: all .4s ease-out;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1.5rem 3rem rgba($color-black, .15); 
}

 
   &__cta {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   }


    &__icon-one {
        fill: $color-yellow;
        height: 10rem;
        width: 10rem;
        transform: translate(120%, 30%);
    }    
    
    &__icon-two {
        fill: $color-purple;
        height: 10rem;
        width: 10rem;
        transform: translate(120%, 25%);
        
    }
    &__icon-three {
        fill: $color-orange;
        height: 10rem;
        width: 10rem;
        transform: translate(120%, 25%);
        
    }

    &__icon-four {
        fill: $color-light-purple;
        height: 10rem;
        width: 10rem;
        transform: translate(120%, 30%);
        
    }

    &__icon-five {
        fill: $color-pink;
        height: 10rem;
        width: 10rem;
        transform: translate(120%, 25%);
        
    }

    &__icon-six {
        fill: $color-blue;
        height: 10rem;
        width: 10rem;
        transform: translate(120%, 25%);
        
    }


    &__heading-one {
        color:$color-yellow;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .5rem;
        font-size: 2.5rem;
        font-weight: 750rem;
        margin-top: 2.8rem;   
    }

    &__heading-two {
        color: $color-purple;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .5rem;
        font-weight: 750rem;
        margin-top: 3.5rem;   
    }

    &__heading-three {
        color: $color-orange;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .5rem;
        font-weight: 750rem;
        margin-top: 3rem;
        padding-bottom: 1rem;   
    }

    &__heading-four {
        color: $color-light-purple;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .5rem;
        font-weight: 750rem;
        margin-top: 2.5rem;
        padding-bottom: 1rem;   
    }

    &__heading-five {
        color: $color-pink;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .5rem;
        font-weight: 750rem;
        margin-top: 2.5rem;
        padding-bottom: 1rem;   
    }

    &__heading-six {
        color: $color-blue;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .5rem;
        font-weight: 750rem;
        margin-top: 2.5rem;
        padding-bottom: 1rem;   
    }
}