.card {

    //Functionality

    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 34rem;
    background-color: $color-white;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
    transition: all .4s ease-out;
    

    &:hover {
        transform: translateY(-1.5px);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15); 
}



  &__icon {
      content: " ";
      display: block;
      width: 100%;
      text-align: center;
      height: 7rem;
      width: 7rem;
      

      &--1 {
        fill: $color-yellow;

      
        
    }  
 }
  

  &__heading {
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 550;
    letter-spacing: .2rem;
    padding-top: 6rem;
    text-transform: uppercase;
    position: absolute;
    text-align: center;

   }
   
   &__heading-span {
       padding: 1rem 1.5rem;
       -webkit-box-decoration-break: clone;
       box-decoration-break: clone;

    &--1 {
        color:$color-yellow;   
        
    }

    &--2 {
       color: $color-pink;

   }
    &--3 {
        color: $color-light-purple;
        padding-left: 4rem;
    }

    &--4 {
        color: $color-orange;
       padding-left: 6rem;
    }

    &--5 {
        color: $color-purple;
        padding-left: 5rem;

    }

    &--6 {
        color: $color-dark-blue;
        padding-left: 8rem;
    }
  }
}
