.form {
    &__group:not(:last-child) {
        margin-bottom: .5rem;
    }

    &__input {
        font-size: 1.3rem;
        font-family: inherit;
        padding: .5rem 1rem;
        border-radius: 1px;
        background-color: rgba($color-grey, .5);
        border-bottom: 2px solid transparent;
        width: 45%;

    }

    &__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 2px solid $color-blue;
    } 

    &__radio-group {
        width: 50%;
        font-size: 1.3rem;
        text-transform: uppercase;
        padding-top: 1.5rem;
        position: relative;
    }
    
    &__calculate {
        text-decoration: none;
        font-size: 1.3rem;
        position: relative;
        text-transform: uppercase;
        border-radius: .3rem;
        font-weight: 400rem;

       

        &--print {
            background-color: $color-grey-middle;
            color: $color-white;
            text-align: center;
            cursor: pointer;
            padding: .6rem .3rem .7rem;
            border-radius: .5rem;

        }
    } 
  

    &__select {
        background-color: $color-grey-middle;
        border-style: none;
        width: 40%;
        border-radius: .5rem;
        text-decoration: none;
        color: $color-dark-blue;
        font-size: 1.5;
        padding: .6rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);

    }

}

