//POPUP = NUMBER SYSTEM CONVERSION
//POPUPTWO = COMBINATORICS
//POPUPFOUR = TRUTH TABELS
//POPUPFIVE = RANDOM VALUES
//POPUPSIX = CURRENCY EXCHANGE

.popup,
.popuptwo,
.popupfour,
.popupfive,
.popupsix {

     height: 100vh;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba($color-black, .8);
     z-index: 999;
     opacity: 0;
     visibility: hidden;
     transition: all .3s;


    &__content {
      @include absCenter;  
      width: 83%;
      height: 75%;
      background-color: $color-white;
      box-shadow: 0 2rem 4rem rgba($color-black, .2);
      border-radius: .5rem;
      opacity: 0;
      transform: translate(-50%, -50%) scale(.5);
      transition: all .4s .2s;
    }
    

    &__left {
        width: 33.3333333%;
        display: table-cell;

    }

    &__right {
        width: 66.6666666%;
        display: table-cell;
         
        -moz-column-count: 2;
        column-count: 2;

    }

    &__text {
        display: block;
        font-size: 2rem;
        padding: 5rem 5rem;

    }

    &:target {
        opacity: 1;
        visibility: visible;   
      }
     
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);

    }  
     
      &__close {
          &:link,
          &:visited {
              color: $color-blue;
              position: absolute;
              top: 2.5rem;
              right: 2.5rem;
              font-size: 3.5rem;
              text-decoration: none;
              display: inline-block;
              transition: all .2s;
              line-height: 0;
          }
     
          &:hover {
              color: $color-dark-blue;
          }
       }

       
} 

//POPUPTHREE = NUMBER SYSTEM OUTPUTS 

.popupthree {
     
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    display: tabel;


   &__content {
     @include absCenter;  
     width: 83%;
     height: 70%;
     background-color: $color-white;
     box-shadow: 0 2rem 4rem rgba($color-black, .2);
     border-radius: .5rem;
     opacity: 0;
     transform: translate(-50%, -50%) scale(.5);
     transition: all .4s .2s;


   }
   

   &__left {
       width: 30.0000000%;
       float: left;
   }

   &__right {
       width: 70.0000000%;
       float: right;
       text-align: center;
       display: inline-block;
       padding-top: 10rem 5rem 0 0;
    
   }

   &__text {
       font-size: 2rem;
       padding: 2rem .5rem 0 5rem;

   }

   &:target {
       opacity: 1;
       visibility: visible;   
     }
    
   &:target &__content {
       opacity: 1;
       transform: translate(-50%, -50%) scale(1);

   }  
    
     &__close {
         &:link,
         &:visited {
             color: $color-blue;
             position: absolute;
             top: 2.5rem;
             right: 2.5rem;
             font-size: 3.5rem;
             text-decoration: none;
             display: inline-block;
             transition: all .2s;
             line-height: 0;
         }
    
         &:hover {
             color: $color-dark-blue;
         }
      } 
   }   
      