//STYLING FOR THE OUTPUT HEX, DEC, OCATL AND BINARY NUBERS

.table {
   padding-top: 6rem;
  
    &__output {
        display: table-cell;
        column-count: 3;
        font-size: 1.2rem;
        color: $color-dark-blue;
        
    }   
}