body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding-bottom: 20rem;
    
}

.heading-primary {
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4.5rem;
    color: $color-dark-blue;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
        margin-bottom: 2.5rem;
        animation: moveInBottom 2s ease-out;
    
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInBottom 3s ease-out;
        padding-bottom: 1rem;

        }
     }
  

    .heading-secondary {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        letter-spacing: .2rem;
        padding-top: 15rem;
        color: $color-dark-blue;

      }

    .heading-tertiary {
        font-size: 3.2rem;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        letter-spacing: .1rem;
        padding: 2rem 5rem;
        color: $color-dark-blue;
    }

    .heading-quatenary {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
        padding: 2rem 0 .6rem;
        letter-spacing: .2rem;
        display: block;
        letter-spacing: .1rem;
        color: $color-dark-blue;

    }

    .p {
      
      &__result {
          display: inline-block;
          font-size: 2rem;
          padding-left: 5rem;
      }

    }
