.u-center-text {text-align: center;}
.u-right-text {text-align: right;}

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem;}
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-padding-left-small { padding-left: 1.5rem;}
.u-padding-left-medium { padding-left: 4rem;}
.u-padding-left-big {padding-left: 8rem;}
