.u-center-text {text-align: center !important;}
.u-right-text {text-align: right !important;}

.u-margin-bottom-small { margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium { margin-bottom: 4rem !important;}
.u-margin-bottom-big { margin-bottom: 8rem !important;}

.u-padding-left-small { padding-left: 1.5rem !important;}
.u-padding-left-medium { padding-left: 4rem !important;}
.u-padding-left-big {padding-left: 8rem !important;}

.u-padding-top-small { margin-top: 1.5rem !important;}
.u-padding-top-medium { margin-top: 3rem !important;}
.u-padding-top-big {padding-top: 6.3rem !important;}

.u-padding-left-medium {padding-left: 4rem !important;}

.u-display-inline-block {display: inline-block !important;}
